
  .side-panel {
    width: 270px;
    height: 100%;
    background-color: rgb(194, 99, 52);
    position: fixed;

  
  }
  
  .nav-button {
    display: block;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
    margin-right: 100px;
    margin-top: 30px;
    height: 50px;

  }
  
  :hover.nav-button{
    background-color: rgb(154, 56, 27);

  }
  
  .Head{
    padding-right: 150px;
    padding-top: 30px;
    font-size: 20px;
    color: rgb(244, 193, 166);
    font-family: arial;
    font-weight: lighter;
  }