.container {
  margin: auto;
  width: 90%;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
  margin-bottom: 20px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-container input[type="text"],
.input-container select {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.select-container {
  margin-bottom: 20px;
}

.select-container select {
  width: 100%;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.radio-container {
  margin-bottom: 20px;
}

.radio-container button {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  transition: all 0.3s ease;
  width: 680px;
    height: 47px;
    margin: 0;
    margin-top: 20px;
    font-size: 16px;
}

.radio-container button.selected {
  background-color: #4caf50;
  color: white;
}

.radio-container .description {
  margin: 0;
  width: 677px;
  margin-left: 60px;
  height: 290px;


  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.radio-container button.selected + .description {
  max-height: 1000px; /* Adjust this value to fit your content */
  opacity: 1;
}
.radio-container h2{
margin-left: 15px;
    text-align: left;

}
.radio-container p{
padding: 15px;
text-align: justify;
font-size: 14px;
}


.radio-container .bope{
  font-size: 16px;

  cursor: pointer;
  width: 100px;
    margin: 0;
    height: 37px;
    text-align: center;
    color: black;

}
.radio-container h5{
  padding: 0px;
  margin: 0px;
  padding-left: 15px;
  padding-bottom: 15px;
  text-align: justify;
  font-size: 14px;
  }









  